@import url('https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


* {
  box-sizing: border-box;
  outline-width: 0;
  outline: none;
}

body {
    overflow: hidden;
    background: black;
    min-width: 400px;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.row {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 100vw;
}
.column {
    display: flex;
    flex-direction: column;
    flex: 100vw;
    align-items: stretch;
    justify-items: center;
    align-content: center;
}
.square {
    display: grid;
    align-items: stretch;
    justify-items: stretch;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: .4vw;
}
.tile {
    display: flex;
    border-radius: 10%;
    background-color: silver;
    color: midnightblue;
    border-top: .4vw;  
    border-right: .4vw;
    border-bottom: .4vw;
    border-left: .4vw;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: 1.2em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.tile:hover {
    background-color: pink;
    outline-width: 0;
    cursor: crosshair;
}
.tile input {
    background: transparent;    
    color: transparent;
    border: none;    
    text-shadow: 0 0 0 darkslategrey;
    text-align: center;
    font-size: 1.2em;    
    font-family: 'Architects Daughter', cursive;    
    font-weight: bold;
    cursor: crosshair;    
}
.tile {
    outline-width: 0;
    cursor: crosshair;
}

.tile input::selection {
    border: none;
    text-shadow: 0 0 0 darkslategrey;    
    background-color: transparent;
    outline-width: 0;    
    color: transparent;
    cursor: crosshair;    
}

.modal {
    display: none;
    position: fixed;
    top: var(--modalTop);   
    z-index: 1;
    background-color: rgba(255,192,203,0.7);
    width: var(--modalSize);
    height: var(--modalSize);
    align-items: stretch;
    justify-items: stretch;
    margin: auto auto;
    border-radius: 0.6rem;
  }
  
  .modal-inner {
    padding: 50% 0;
    background: none;
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: auto, auto;
    padding: 0, 0;
    border: 0;

  }

  .modal-message {
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: auto;
    color: white;
  }

  .modal-message h1 {
    font-weight: bolder;
    font-size: 6em;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: (rgb(207, 250, 14));
  }

  .modal-message h2 {
    font-weight: bold;
    font-size: 3em;
    color: darkorchid;
  }

  .modal-message h4 {
      color: magenta;
      font-weight: bold;
      font-size: 2em;
  }

.instructions {
    color: cornflowerblue;
}

#left {
    /* flex: 75vw; */
    /* height: 100vh; */
    height: var(--divHeight);
    width: var(--divWidth);
    align-items: center;
    background-size: cover;    
    background: linear-gradient(rgba(0, 139, 139),rgba(102, 51, 153));
    cursor: crosshair;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
#right {
    align-items: center;
    background: black;
    /* flex: 25vw;
    height: 100vh; */
    height: var(--divHeight);
    width: var(--divWidth);
}
#board {
    width: 50vw;
    height: 50vw;
    margin: auto auto;
    display: grid;
    align-items: stretch;
    justify-items: stretch;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2vw;
    cursor: crosshair;
}
#numBox {
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto auto;
    text-align: center;
    align-items: center;
    display: flex;
}

#right * {
    color: white;
}


@media only screen and (orientation: portrait) {
    * {
        font-size: 2rem;
    }
    .tile {
        border-top: .8vh;  
        border-right: .8vh;
        border-bottom: .8vh;
        border-left: .8vh;
        font-family: 'Courier New', Courier, monospace;        
    }
    .row {
        flex-direction: column;
    }
    .column {
        flex:1;
    }
    #left {
        /* flex: 80vw; */
        border-top-right-radius: 0;
        border-bottom-right-radius: 2rem;
        border-bottom-left-radius: 2rem;
        height: var(--divHeight);
        width: var(--divWidth);
    }
    #right {
        /* flex: 20vw; */
        align-items: left;
        column-count: 2;
        column-fill: balance;
        height: var(--divHeight);
        width: var(--divWidth);
    }
    #board {
        width: 80vw;
        height: 80vw;
        grid-gap: 2vw;
    }
}

@media only screen and (max-height: 500px) {
    #board {
        height: 90vh;
        width: 90vh;
    }
}
